#
# If you make changes to this crontab, make sure to commit them to
# the crontab file in the stats-proc repository.  Thanks
#
3	*	*	*	*	cd /usr/home/statproc/dfmon && ./dfmon
18	*	*	*	*	/home/statproc/stats-proc/misc/hourly.sh
